:root {
  font-family: Poppins, sans-serif;
  background-color: #020617;
}
::selection {
  background-color: #731bb68a;
}

#root {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  --gap: 20rem;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 5px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 5px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);

  @media (max-width: 1024px) {
    --gap: 18rem;
  }
  @media (max-width: 768px) {
    --gap: 15rem;
  }
  @media (max-width: 480px) {
    --gap: 12rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0 auto;
  font-family: Poppins, sans-serif;
}

a,
a:visited {
  font-weight: 700;
  color: #ffffff;
  text-decoration: inherit;
  transition: 0.4s;
  margin: auto 0;
}

a:hover {
  color: #a7a7a7;
}

p {
  color: #ffffff;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #731bb6;
  border-radius: 1rem;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}
