:root {
  font-family: Poppins, sans-serif;
  background-color: #020617;
}
#root {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0 auto;
  font-family: Poppins, sans-serif;
}

p {
  color: #ffffff;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #731bb6;
  border-radius: 1rem;
}

li {
  list-style-type: none;
}
